<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Success</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='default.css') }}">
  </head>
  <body>
    <h1>Login Success</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message | safe }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <p>
      User: {{user['first_name']}} {{user['last_name']}}
    </p>
    <p>Email: {{user['email']}}</p>
  </body>
</html>
